---

- name: Install ypbind yum package
  ansible.builtin.yum:
    name: ypbind
    state: present


- name: Configure NIS on client machines
  ansible.builtin.command: "authconfig --enablenis --nisdomain={{ nis_domain_name }} --nisserver={{ nis_server_ip }}\
           {% if nis_create_home == True %} --enablemkhomedir {% endif %} --update"
  changed_when: true


- name: Set NISTIMEOUT to 10 seconds
  ansible.builtin.lineinfile:
    path: "/etc/sysconfig/ypbind"
    line: "NISTIMEOUT=10"
    state: present
    create: true
    mode: "0644"


- name: Start rpcbind service
  ansible.builtin.service:
    name: rpcbind
    state: started
    enabled: true


- name: Start ypbind service
  ansible.builtin.service:
    name: ypbind
    state: started
    enabled: true
  failed_when: false
