---

- name: Retrieve {{ username }} user facts
  ansible.builtin.user:
    name: "{{ username }}"
    state: present
    generate_ssh_key: true
  register: user_facts


- name: Make sure the ssh-required files exists
  ansible.builtin.file:
    path: "{{ user_facts.home }}/.ssh/{{ item }}"
    state: file
    owner: "{{ username }}"
    group: "{{ user_facts.group }}"
    mode: "0600"
  with_items:
    - "authorized_keys"
    - "known_hosts"


- name: Ensure machine host keys are in known_hosts for the user
  ansible.builtin.known_hosts:
    path: "{{ user_facts.home }}/.ssh/known_hosts"
    state: present
    name: "{{ hostvars[item.0][item.1] }}"
    key: "{{ lookup('pipe', 'ssh-keyscan -t ecdsa ' ~ hostvars[item.0][item.1] ~ ' 2>/dev/null') }}"
  with_nested:
    - "{{ play_hosts }}"
    - ["inventory_hostname", "inventory_hostname_short", "ansible_host"]
  become: true
  become_user: "{{ username }}"


- name: Remove old public keys from authorized_keys file
  ansible.builtin.lineinfile:
    path: "{{ user_facts.home }}/.ssh/authorized_keys"
    state: absent
    regexp: "^(.*)ansible-generated on {{ hostvars[item].inventory_hostname_short }}$"
  with_items: "{{ play_hosts }}"


- name: Share public key with all machines in current deployment session
  ansible.builtin.lineinfile:
    path: "{{ user_facts.home }}/.ssh/authorized_keys"
    state: present
    line: "{{ hostvars[item].user_facts.ssh_public_key }}"
  with_items: "{{ play_hosts }}"
