---

- name: Check in which path Java is installed
  ansible.builtin.shell: "readlink -f $(which java)"
  register: java_home
  changed_when: false


- name: Make sure /usr/java directory exists
  ansible.builtin.file:
    path: "/usr/java"
    state: directory
    mode: "0755"


- name: Create a symlink to the correct Java home path, needed by ACS
  ansible.builtin.file:
    src: "/usr/lib/jvm/java-openjdk"
    dest: "/usr/java/default"
    state: link


- name: Create the /alma directory
  ansible.builtin.file:
    path: "/alma"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0755"


- name: Check if ACS is already installed
  ansible.builtin.stat:
    path: "/service/acstmp/{{ inventory_hostname_short }}"
  register: target_dir


- name: Create a temporary directory for the build
  ansible.builtin.file:
    path: "{{ remote_build_path }}"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0770"
    recurse: true
  when: not target_dir.stat.exists


- name: Download the ACS repository
  ansible.builtin.git:
    repo: "https://asw.alma.cl/ASW/acs.git"
    dest: "{{ remote_build_path }}/acs"
    version: "acs/2021DEC"
    track_submodules: true
    force: true
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  when: not target_dir.stat.exists


- name: Get missing (super old) libraries
  ansible.builtin.get_url:
    url: "{{ item }}"
    dest: "{{ remote_build_path }}/acs/ExtProd/PRODUCTS/"
    mode: "0644"
    validate_certs: false
  with_items:
    - "https://sourceforge.net/projects/gnuplot-py/files/Gnuplot-py/1.8/gnuplot-py-1.8.tar.gz/download"
    - "https://sourceforge.net/projects/pychecker/files/pychecker/0.8.17/pychecker-0.8.17.tar.gz/download"
    - "https://sourceforge.net/projects/numpy/files/OldFiles/1.3.3/numarray-1.3.3.tar.gz"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  when: not target_dir.stat.exists


- name: Patch ACS Python 3 default version
  ansible.builtin.template:
    src: "patches/{{ acs_tag }}/{{ item }}"
    dest: "{{ remote_build_path }}/acs/ExtProd/INSTALL"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0755"
  with_items:
    - "buildPython"
    - "buildPyModules"
    - "buildOmniORB"
  when: not target_dir.stat.exists


- name: Force specific Python 3 cryptography package
  ansible.builtin.lineinfile:
    dest: "{{ remote_build_path }}/acs/ExtProd/PRODUCTS/acs-py3.req"
    line: "cryptography==37.0.4"
    state: present


- name: Install ACS ExtProd
  ansible.builtin.shell: 'source {{ remote_build_path }}/acs/LGPL/acsBUILD/config/.acs/.bash_profile.acs \
                         && make all && find /alma -name "*.o" -exec rm -v {} \;'
  args:
    chdir: "{{ remote_build_path }}/acs/ExtProd/INSTALL"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  when: not target_dir.stat.exists
  changed_when: not target_dir.stat.exists


- name: Apply some patches to ACS
  ansible.builtin.include_tasks: "{{ patch_file }}"
  vars:
    params:
      files:
        - "patches/{{ acs_tag }}.yml"
  loop: "{{ q('first_found', params, errors='ignore') }}"
  loop_control:
    loop_var: patch_file
  when: not target_dir.stat.exists


- name: Launch buildDDS
  ansible.builtin.shell: 'source {{ remote_build_path }}/acs/LGPL/acsBUILD/config/.acs/.bash_profile.acs && ./buildDDS'
  args:
    chdir: "{{ remote_build_path }}/acs/ExtProd/INSTALL"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  when: not target_dir.stat.exists
  changed_when: not target_dir.stat.exists


- name: Build external dependencies
  ansible.builtin.shell: 'source {{ remote_build_path }}/acs/LGPL/acsBUILD/config/.acs/.bash_profile.acs && make build'
  args:
    chdir: "{{ remote_build_path }}/acs"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  when: not target_dir.stat.exists
  changed_when: not target_dir.stat.exists


- name: Remove the ACS boost directory
  ansible.builtin.file:
    path: "/alma/{{ acs_tag }}/boost"
    state: absent
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"


- name: Remove the directory used for the build
  ansible.builtin.file:
    path: "{{ remote_build_path }}"
    state: absent


################################
# Set the ACS user's environment
################################


- name: Copy the .acs dir from /alma to /{{ discos_sw_dir }}/config
  ansible.builtin.command: "cp -r .acs /{{ discos_sw_dir }}/config/acs"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  args:
    chdir: "{{ acssw }}/config"
  changed_when: true


- name: Create the acstmp directory
  ansible.builtin.file:
    path: "/service/acstmp/{{ inventory_hostname_short }}"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0755"
    recurse: true


# - name: Copy the acsStartContainer with debugger
#   ansible.builtin.template:
#     src: acsStartContainerGdb
#     dest: "/alma/{{ acs_tag }}/ACSSW/bin/"
#     owner: "{{ user.name }}"
#     group: "{{ user.group }}"
#     mode: "0755"
#   become: true
#   become_user: "{{ user.name }}"
#   become_flags: "-i"


##################################
# Load ACS libraries to the system
##################################


- name: Add ACS libraries to ld.so configuration
  ansible.builtin.lineinfile:
    path: "/etc/ld.so.conf.d/acs.conf"
    line: "{{ item }}"
    state: present
    create: true
    mode: "0644"
  with_items:
    - "/alma/{{ acs_tag }}/ACSSW/lib"
    - "/alma/{{ acs_tag }}/TAO/ACE_wrappers/build/linux/lib"


- name: Load the ACS libraries to the system
  ansible.builtin.command: ldconfig
  changed_when: true
