---

- name: Install prospector (Python linter)
  ansible.builtin.command: "pip install prospector"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  changed_when: true


- name: Install ipython
  ansible.builtin.command: "pip install ipython"
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  changed_when: true


- name: Create default ipython profile
  ansible.builtin.command: "ipython profile create"
  become: true
  become_user: "{{ item.value.name }}"
  become_flags: "-i"
  with_dict: "{{ users }}"
  changed_when: true


- name: Set the default application for html files
  ansible.builtin.lineinfile:
    path: "/usr/share/applications/mimeapps.list"
    line: "{{ item }}"
    state: present
    create: true
    mode: "0644"
  with_items:
    - "[Default Applications]"
    - "text/html=firefox.desktop"


- name: Allow all users to have access to Python executables
  ansible.builtin.lineinfile:
    dest: /etc/bashrc
    line: 'export PATH=/alma/{{ acs_tag }}/pyenv/shims:$PATH'
