---

- name: Install ACS-related yum packages
  ansible.builtin.yum:
    name:
      - deltarpm
      - epel-release
      - autoconf
      - bison
      - bzip2
      - bzip2-devel
      - dbus-devel
      - dos2unix
      - doxygen
      - expat
      - expat-devel
      - file
      - flex
      - freetype-devel
      - java-11-openjdk
      - java-11-openjdk-devel
      - lbzip2
      - lbzip2-utils
      - libffi
      - libffi-devel
      - libX11-devel
      - libXext-devel
      - libXtst-devel
      - libxml2-devel
      - libxslt-devel
      - lockfile-progs
      - make
      - net-tools
      - openldap-devel
      - openssh-server
      - openssl-devel
      - perl
      - perl-devel
      - procmail
      - qt
      - qt-devel
      - qt-x11
      - qt-assistant
      - qt-assistant-adp
      - qt-assistant-adp-devel
      - qt-settings
      - qwt
      - qwt-devel
      - readline-devel
      - redhat-lsb-core
      - rpm-build
      - sqlite-devel
      - tcl-devel
      - tk-devel
      - xauth
      - curl
      - curl-devel
      - ksh
      - mc
      - nc
      - patch
      - screen
      - subversion
      - unzip
      - vim
      - wget
      - tree
      - xterm
      - xorg-x11-font*
      - gsl
      - gsl-devel
      - gdb
      - cmake
      - expect
      - boost
      - boost-devel
      - boost-python36*
      - ncurses
      - ncurses-devel
      - jpackage-utils
      - libtool
      - firefox
      - gedit
      - bluefish
      - dejavu-sans-mono-fonts
      - bash-completion
      - "@X Window System"
      - "@GNOME"
      - "@fonts"
    state: present


- name: Install centos-release-scl
  ansible.builtin.yum:
    name: centos-release-scl


- name: Install devtoolset-{{ devtoolset_release }}-gcc
  ansible.builtin.yum:
    name: devtoolset-{{ devtoolset_release }}-gcc*
    enablerepo: centos-sclo-rh-testing


- name: Disable the devtoolset-{{ devtoolset_release }} sudo command
  ansible.builtin.file:
    path: "/opt/rh/devtoolset-8/root/usr/bin/sudo"
    mode: "0444"


- name: Make sure the default git yum package is not installed
  ansible.builtin.yum:
    name:
      - git
    state: absent


- name: Download git224-core-2.24.3-1.el7.ius.x86_64.rpm yum package
  ansible.builtin.get_url:
    url: "{{ remote_repository_download_url }}/git224-core-2.24.3-1.el7.ius.x86_64.rpm"
    dest: "{{ local_repository_path }}"
    force: false
    mode: "0644"
    headers:
      Authorization: "token {{ repository_token }}"
  delegate_to: localhost
  run_once: true
  no_log: true


- name: Copy git-core to the remote
  ansible.builtin.copy:
    src: "{{ local_repository_path }}/git224-core-2.24.3-1.el7.ius.x86_64.rpm"
    dest: "/root/"
    mode: "0644"


- name: Install the git224-core-2.24.3-1.el7.ius.x86_64.rpm yum package
  ansible.builtin.yum:
    name:
      - "/root/git224-core-2.24.3-1.el7.ius.x86_64.rpm"
      - git-lfs
    state: present


- name: Delete the git224-core-2.24.3-1.el7.ius.x86_64.rpm package from the remote
  ansible.builtin.file:
    path: "/root/git224-core-2.24.3-1.el7.ius.x86_64.rpm"
    state: absent
