---

- name: Download the SDTools repository
  ansible.builtin.git:
    repo: "https://github.com/discos/srt-single-dish-tools.git"
    dest: "/{{ discos_sw_dir }}/srt-single-dish-tools"
    version: "main"
    force: true
  become: true
  become_user: "{{ user.name }}"


- name: Install SDTools
  ansible.builtin.command: "pip install ."
  become: true
  become_user: "{{ user.name }}"
  become_flags: "-i"
  args:
    chdir: "/{{ discos_sw_dir }}/srt-single-dish-tools/"
  changed_when: true
