---

- name: Install the ntp yum package
  ansible.builtin.dnf:
    name: ntp
    state: present


- name: Set the timezone to UTC
  community.general.timezone:
    name: Etc/UTC


- name: Copy the ntp.conf template
  ansible.builtin.template:
    src: "ntp.conf"
    dest: "/etc/ntp.conf"
    backup: true
    mode: "0644"
  when: ntp_servers is defined


- name: Restart ntp service
  ansible.builtin.service:
    name: ntpd
    state: restarted
    enabled: true


- name: Install the gnuplot yum package
  ansible.builtin.dnf:
    name: gnuplot
    state: present


- name: Copy the plot_loopstats script
  ansible.builtin.template:
    src: plot_loopstats
    dest: "/usr/local/bin/plot_loopstats"
    mode: "0755"
