---

- name: Prompt the user '{{ item.value.name }}' for password
  askpass:
    username: "{{ item.value.name }}"
  run_once: true


- name: Update user '{{ item.value.name }}' password
  set_fact:
    users: "{{ users | combine({item.key: item.value | combine({'password': typed_password \
           | password_hash(hashtype='sha512', salt=item.value.name[:8])})}) }}"
