---

- name: Check if user '{{ item.value.name }}' already exists
  command: "getent passwd {{ item.value.uid }}"
  register: user_exists
  failed_when: False


- include_tasks: askpass.yml
  when:
    - user_exists.stdout_lines | length == 0
    - lookup('ansible.builtin.env', 'CI') == ""
