---

- name: Download the DISCOS Simulators repository
  git:
    repo: "https://github.com/discos/simulators.git"
    dest: "/{{ discos_sw_dir }}/simulators"
    version: "master"
    force: yes
  become: True
  become_user: "{{ user.name }}"


- name: Install DISCOS Simulators
  command: "{{ item }}"
  become: True
  become_user: "{{ user.name }}"
  become_flags: "-i"
  with_items:
    - "pip install -r requirements.txt"
    - "python setup.py install"
    - "pyenv rehash"
  args:
    chdir: "/{{ discos_sw_dir }}/simulators/"
