---

- name: Create the mount point for Sardara backend disk
  ansible.builtin.file:
    path: "{{ sardara_mount_point }}"
    state: directory
    mode: "0755"


- name: Ensure Sardara backend NFS mount is configured and mounted
  ansible.posix.mount:
    path: "{{ sardara_mount_point }}"
    src: "{{ sardara_ip_address }}:{{ sardara_remote_directory }}"
    fstype: nfs4
    opts: "defaults,_netdev,nofail"
    state: mounted
  failed_when: false
  changed_when: false
