---

- name: Check presence of dependencies on local repository
  tags: provision
  hosts: all
  tasks:
    - name: Check presence of dependencies on local repository
      ansible.builtin.import_role:
        name: dependencies
      delegate_to: localhost
      run_once: true


- name: Check users presence and eventually ask for their password
  tags: provision
  hosts: all
  tasks:
    - name: Check users presence and eventually ask for their password
      ansible.builtin.include_role:
        name: ask_password
      with_dict: "{{ users }}"


- name: Configure SELINUX
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - selinux


- name: Install yum packages
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - yum


- name: Configure network
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - network


- name: Configure firewall
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - firewall


- name: Configure SSH
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - ssh


- name: Configure time
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - time


- name: Configure users and groups
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - users


- name: Perform the key exchange procedure
  tags: provision
  hosts: all
  tasks:
    - name: Perform the key exchange procedure
      ansible.builtin.include_role:
        name: key_exchange
      loop: "{{ key_exchange_users }}"
      loop_control:
        loop_var: username


- name: Apply ACS configuration to ACS nodes
  tags: provision
  hosts: acs_meta
  remote_user: root
  roles:
    - acs


- name: Configure the manager machine
  tags: provision
  hosts:
    - manager
    - training
  remote_user: root
  roles:
    - manager


- name: Install BASIE
  tags: provision
  hosts:
    - console
    - training
  remote_user: root
  roles:
    - basie


- name: Install SAOImageDS9
  tags: provision
  hosts:
    - console
    - training
  remote_user: root
  roles:
    - ds9


- name: Apply configuration for project users
  tags: provision
  hosts:
    - console
    - training
  remote_user: root
  roles:
    - projects


- name: Configure the VNC servers
  tags: provision
  hosts: acs_meta
  remote_user: root
  roles:
    - vnc


- name: Deploy DISCOS
  tags: deploy
  hosts: acs_meta
  remote_user: root
  roles:
    - deploy


- name: Finalize the installation
  tags: provision
  hosts: all
  remote_user: root
  roles:
    - finalize
