[Unit]
Description=DISCOS ZMQ Telemetry Proxy
After=network.target

[Service]
User={{ user.name }}
Type=simple
ExecStartPre=/bin/bash -lc '[[ -x "/{{ discos_sw_dir }}/introots/default/bin/telemetry_proxy" ]] || { echo "ERROR: Proxy not found, retrying in 60s."; exit 1; }'
ExecStart=/bin/bash -lc 'exec "/{{ discos_sw_dir }}/introots/default/bin/telemetry_proxy"'
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
