name: Documentation update

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'doc/**'

jobs:
  update-local-doc:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: "${{ secrets.GH_WORKFLOWS_TOKEN }}"
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Split subtree and push to doc branch
      run: |
        git remote set-url origin https://x-access-token:${{ secrets.GH_WORKFLOWS_TOKEN }}@github.com/${{ github.repository }}
        git subtree split --prefix=doc -b doc
        git checkout doc
        rm -rf conf.py doc_requirements.txt .gitignore Makefile _static _templates
        git add -u
        git commit --amend --no-edit
        git push --force origin doc:doc

  update-remote-doc:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: "${{ secrets.GH_WORKFLOWS_TOKEN }}"
    needs: update-local-doc
    steps:
    - name: Checkout the doc repository
      uses: actions/checkout@v4
      with:
        repository: discos/doc
        ref: fix-issue-47
    - name: Update the doc repository
      run: |
        git subtree pull --prefix=developer/howto/installing ${{ github.repositoryUrl }} doc --squash --message \
          "Merging updates from deployment repository:\n\n$(curl -s https://api.github.com/repos/${{ github.repository }}/commits?sha=doc\&per_page=1 | jq -r '.[0].commit.message')"
        git push origin fix-issue-47
